html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-LightItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-Black-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'roboto';
  --text-color: #f4f6f8;
  --main-color: #1a1a1a;
  --secondary-color: #121416;
  --accent-color: #d83337;
  --content-spacing: 2.5rem;
  color: var(--text-color);
}

body {
  background-color: var(--main-color);
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* form-background */
.form-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  width: 65vw;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 20vh;
  width: 100%;
}

.header .icon {
  height: 5rem;
}

.credits {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.credits a {
  color: inherit;
}

/* content */
.content {
  display: flex;
}

.main {
  margin-block: auto;
}

.description,
.form-heading,
.input-container {
  padding: 0 var(--content-spacing) 0 var(--content-spacing);
}

.submit-button,
.log-in {
  margin: 0 var(--content-spacing) 0 var(--content-spacing);
}

.description,
.input-container,
.submit-button {
  margin-bottom: var(--content-spacing);
}

.description > p {
  margin-block: 1rem;
  font-size: 1.5rem;
}

.italic {
  font-style: italic;
}

.input-container {
  display: flex;
  gap: 3rem;
}

.form-heading,
.input-container {
  background-color: var(--secondary-color);
}

.form-heading {
  padding-top: 1.2rem;
}

.input-container {
  box-shadow: 0 10px 20px -2px var(--secondary-color);
  padding-bottom: 1.2rem;
  flex-wrap: wrap;
}

.section > .input {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

input {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  height: 2rem;
  width: 16rem;
  font-size: 1rem;
  padding: 0 4px 0 4px;
}

input:focus {
  outline: 1px solid var(--accent-color);
}

.submit-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
}