html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* form-background */
.form-background {
  flex: 1;
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.header .icon {
  height: 5rem;
}

/* content */
.content {
  flex: 2 1 0;
}