html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-LightItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-Black-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'roboto';
  --accent-color: #d83337;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* form-background */
.form-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 20vh;
  width: 100%;
}

.header .icon {
  height: 5rem;
}

.credits {
  color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.credits a {
  color: inherit;
}

/* content */
.content {
  flex: 2 1 0;
  display: flex;
}

.main {
  margin-block: auto;
  padding: 2.5rem;
}

.description {
  margin-bottom: 4rem;
}

.description > p {
  margin-block: 1rem;
}

.input-container {
  display: flex;
  gap: 3rem;
}

form,
.input-container {
  padding-block: 1rem;
}

.section > .input {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.submit-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
}